 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
	font-size: 62.5%;
	background: url(../image/background.jpg); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.headPage{
	max-width: 1020px;
	height: auto;
	margin: 15px auto 20px auto;
	border: solid;
	border-color:#330000;
	min-height: 100px;
	font-size:2rem;
	color: #cc0000;
}
.imgCyt{
	max-height: 100px;
	float:left;
	margin-right: 5px;
	border-radius:0 25px 25px 0;
}
.cytation{
	text-align: justify;
	min-height: 80px;


}


.pageMain{
	clear:both;
	max-width:1020px;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-color: #adad85;
	text-align:center;
}

.imageMenu{
	height: 400px;
    width: 320px;
}

.contetMenu{
	display: inline-block;
    width: 65%;
    vertical-align: top;
    background-color: #575757;
	min-width: 235px;
	padding:40px 0px 20px 0px;
	margin-top:40px;
	}
.menu{
	max-width: 500px;
	text-align:center;
	background-color:#1a0000;
	vertical-align:top;
	margin-left:auto;
	margin-right:auto;
}

.tile{
	display:inline-block;
		
}

.imgTile{
	height:125px;
	width: 225px;
	margin:5px;
		
}	