/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************************************ Main CSS ************************************/
html {
	font-size: 62.5%;
	background: url(../img/darth_revan_sith_holocron.png); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.pageHeader {
	height: 100px;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0,0,0,0.05);
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.pageHeader .title {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	top: 17px;
	font-weight: bold;
	color: #95191B;
	font-size: 7rem;
	text-align: center;
	-webkit-text-stroke: 1px #4F0B02;
	text-shadow: 0px 0px 15px #4F0B02;
}
.pageHeader .subtitle {
	font-weight: bold;
	color: transparent;
	font-size: 10rem;
	text-align: center;
	text-shadow: 0px 0px 10px #000000;
}
.pageMain {
	position: relative;
}
.pageMain .menuTiles {
	width: 100%;
	margin: 313px auto 5px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-top: 1px solid rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(0,0,0,0.05);
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(0,0,0,0.05);
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.pageMain .menuTiles .tiles {
	width: 300px;
	height: 150px;
	margin: 3px 3px 3px 0;
	display: inline-block;
	position: relative;
	border: 3px solid #606060;
	border-radius: 5px;
	/* I like this opacity -> the page is darker and I feel fear and no hope */
	opacity: 0.2;
	/* This opacity is too colourful */
	/*opacity: 0.3;*/
	transition: all .2s ease-in-out;
}
.pageMain .menuTiles .tiles:last-child {
	margin-right: 0;
}
.pageMain .menuTiles .tiles:hover {
	border: 3px solid #95191B;
	opacity: 1;
	transform: scale(1.1);
}
.pageMain .menuTiles .tiles img {
	width: 100%;
	height: 100%;
}
.pageMain .menuTiles .tiles .tileCaption {
	color: #95191B;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
	font-size: 1.5rem;
	-webkit-text-stroke: 1px #4F0B02;
	text-shadow: 0px 0px 15px #4F0B02;
	line-height: 28px;
    text-align: justify;
	font-weight: bold;
    background: black;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
	position: absolute;
	padding-left: 3px;
    bottom: 0;
    height: 30px;
    width: 297px;
}
.pageFooter {
	min-height: 60px;
	background-color: rgba(0, 0, 0, 0.5);
	border-top: 1px solid rgba(0,0,0,0.05);
	color: #95191B;
	text-align: center;
	font-size: 1rem;
}
.pageFooter p {
	padding-top: 20px;
}